@import "tailwindcss";

html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f5f9;
}

/* Perfect fit rules for small height screens (mobile in landscape) */
@media (max-height: 520px) {
  body {
    font-size: 13px;
  }
}

